@import "./abstracts/variables";

.header {
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  position: relative;

  @include mq(laptap) {
    height: $head-mob-height;
    padding: 3.6rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 6px solid $grey;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 25%;
      height: 6px;
      background-color: $red;
      left: 0;
      bottom: -6px;
    }
  }

  &__head {
    background-color: $white;
    box-shadow: 0 3px 12px rgba($black, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: $head-mob-height;
    z-index: 10;

    @include mq(laptap) {
      position: relative;
      justify-content: left;
      align-items: center;
      max-width: $content-max-width;
      margin: 0 auto;
      height: 100%;
      padding: 0;
      top: auto;
      left: auto;
      z-index: 1;
      box-shadow: none;
    }
  }

  &__search {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: $grey;

    @include mq(laptap) {
      font-size: 2.4rem;
    }
  }

  &__logo {
    font-size: 2.6rem;
    color: $brown;
    letter-spacing: -1px;

    @include mq(laptap) {
      font-size: 3rem;
      width: 30rem;
      margin-right: 6rem;
    }
  }

  &__nav {
    display: none;

    @include mq(laptap) {
      width: 100%;
      display: flex;
      padding-right: 6rem;
      align-items: center;
      justify-content: space-between;
    }

    &__list {
      display: flex;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 1.4rem;
      }

      text-transform: uppercase;
      font-size: 1.3rem;
    }

    &__username {
      text-decoration: underline;
      color: $black;
    }

    &__list:last-child &__item {
      &:not(:last-child) {
        margin-right: 0.6rem;

        &::after {
          content: "|";
          color: $grey;
          margin-left: 0.6rem;
          font-weight: bold;
        }
      }
    }

    &__link {
      color: $grey;

      &.active {
        color: $orange;
      }
    }
  }
}

.toggle {
  &__button {
    width: 3.6rem;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    cursor: pointer;

    @include mq(laptap) {
      display: none;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 1rem;
    background-color: $grey;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.sidemenu {
  width: 100%;
  max-width: 60rem;
  background-color: $brown;
  padding: 3rem 1rem;
  position: fixed;
  box-shadow: 0 3px 12px rgba($black, 0.3);
  transition: all 0.6s;
  transform: translateX(-100rem);
  z-index: 10;
  top: $head-mob-height;

  &.open {
    transform: translateX(0);
  }

  &__info {
    display: flex;
    align-items: center;
    border-top: 1px solid $white;
    padding-top: 1rem;
    margin: 2rem auto;
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1rem;
  }

  &__name {
    font-weight: bold;
    color: $white;
    font-size: 1.6rem;
  }

  &__item {
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__link {
    color: $white;

    &.active {
      color: $orange;
    }
  }
}
