<div class="oneline-message">
  <h1 class="oneline-message__text">Sorry... not found</h1>
  <%= image_tag 'cat_1', class: "oneline-message__image"  %>
</div>
<div class="btns">
  <%= link_to  "Create my new article", new_article_path, class: "btn btn-standout" %>
  <%= link_to  "Back to home", root_path,class: "btn" %>
</div>
