<h1><%= @category.name %></h1>

<% if @articles.any? %>
  <div class="articles">
    <%= render partial: 'articles/article', collection: @articles %>
  </div>
<% else %>
  <%= render "shared/notfound" %>
<% end %>
